---
const { imageSrc, caption } = Astro.props;
---

<div class="text-center flex flex-col gap-2 max-w-[150px]">
  <div class="w-[150px] h-[150px]">
    <img class="object-contain w-full" src={imageSrc} alt="reason" />
  </div>
  <div class="uppercase text-xl">{caption}</div>
</div>
