---
import brandLogo from "../assets/brandLogo.png";
---

<footer class="py-16 flex justify-center gap-32 bg-gShade text-gBright">
  <ul>
    <li class="text-xl">COMPANY</li>
    <li>Services</li>
    <li>Tools</li>
    <li>Personnel</li>
  </ul>
  <ul>
    <li class="text-xl">BLOG</li>
    <li>Plant Information</li>
    <li>Plant Care</li>
    <li>Garden Design</li>
    <li>Landscaping</li>
  </ul>
  <div class="flex flex-col justify-between">
    <span class="flex text-lg w-[220px] font-[600] items-center">
      <img
        class="object-contain w-[50px] h-[50px]"
        src={brandLogo.src}
        alt="brand logo"
      />
      <h3>GREEN THUMBS GARDENING</h3>
    </span>
    <div class="text-xs">
      <div>2023 COPYRIGHT, GREEN THUMBS</div>
      <div>DESIGN + DEV - TOCHUKWU BEDFORD</div>
    </div>
  </div>
</footer>
