---
import brandLogo from "../assets/brandLogo.png";
---

<footer class="py-16 bg-gShade text-gBright">
  <div
    class="container flex justify-center gap-32 md:gap-8 sm:flex-wrap sm:justify-start"
  >
    <div class="flex justify-between gap-10 items-center">
      <span class="flex text-xl w-[220px] font-[600] items-center">
        <img
          class="object-contain w-[50px] h-[50px]"
          src={brandLogo.src}
          alt="brand logo"
        />
        <h3>GREEN THUMBS GARDENING</h3>
      </span>
      <div class="text-xs">
        <div>2023 COPYRIGHT, GREEN THUMBS</div>
        <div>DESIGN + DEV - TOCHUKWU BEDFORD</div>
      </div>
    </div>
  </div>
</footer>
