---
import brandLogo from "../assets/brandLogo.png";
---

<footer class="py-16 bg-gShade text-gBright">
  <div
    class="container flex justify-center gap-32 md:gap-8 sm:flex-wrap sm:justify-start"
  >
    <ul>
      <li class="text-xl">
        <a href="#">COMPANY</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Tools</a>
      </li>
      <li>
        <a href="#">Personnel</a>
      </li>
    </ul>
    <ul>
      <li class="text-xl">
        <a href="#">BLOG</a>
      </li>
      <li>
        <a href="#">Plant Information</a>
      </li>
      <li>
        <a href="#">Plant Care</a>
      </li>
      <li>
        <a href="#">Garden Design</a>
      </li>
      <li>
        <a href="#">Personnel</a>
      </li>
    </ul>
    <div class="flex flex-col justify-between">
      <span class="flex text-lg w-[220px] font-[600] items-center">
        <img
          class="object-contain w-[50px] h-[50px]"
          src={brandLogo.src}
          alt="brand logo"
        />
        <h3>GREEN THUMBS GARDENING</h3>
      </span>
      <div class="text-xs">
        <div>2023 COPYRIGHT, GREEN THUMBS</div>
        <div>DESIGN + DEV - TOCHUKWU BEDFORD</div>
      </div>
    </div>
  </div>
</footer>
