---
import { Icon } from "astro-icon";
---

<nav
  class="z-10 bg-gPrimary text-gBright w-full flex font-semibold gap-20 sticky top-0"
>
  <span id="brandLogo" class="font-extrabold text-3xl py-6 pl-8 mr-auto"
    >GREEN THUMBS</span
  >
  <ul id="navMenu" class="flex gap-20 items-center uppercase">
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
    <li>Plant Info & Care</li>
    <li>Gardening</li>
  </ul>
  <button class="px-6 bg-gPrimaryLight flex items-center gap-2">
    <Icon class="flex-1 w-6 h-6" name="mdi:magnify" />
     SEARCH
  </button>
</nav>
