---
import "@fontsource/inter";
import "@fontsource/inter/100.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";
import "./tailwindbase.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-full max-w-[100vw] overflow-x-hidden">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Inter", sans-serif;
  }
</style>

<script>
  const targets = document.querySelectorAll<HTMLElement>(
    "[data-custom-parallax]"
  );

  const handleParallax = (e: Event) => {
    targets.forEach((target) => {
      const parallaxValueHorizontal = target.getAttribute(
        "data-custom-parallax-horizontal"
      );
      const parallaxValueVertical = target.getAttribute(
        "data-custom-parallax-vertical"
      );
      let parallaxValueHorizontalNumeric = Number(parallaxValueHorizontal);
      let parallaxValueVerticalNumeric = Number(parallaxValueVertical);
      if (isNaN(parallaxValueHorizontalNumeric)) {
        parallaxValueHorizontalNumeric = 0;
      }
      if (isNaN(parallaxValueVerticalNumeric)) {
        parallaxValueVerticalNumeric = 0;
      }
      if (target.style) {
        const scrolled = window.scrollY;
        const rateX = scrolled * parallaxValueHorizontalNumeric;
        const rateY = scrolled * parallaxValueVerticalNumeric;
        console.log(parallaxValueVerticalNumeric);
        target.style.transform = `translate3d(${rateX}px, ${rateY}px, 0px)`;
      }
    });
  };
  window.addEventListener("scroll", handleParallax);
</script>
